.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 91px 50px;
  }
  
  .menu_url {
    display: flex;
    gap: 33px;
  }
  
  .url_list {
    list-style: circle;
  }
  
  .main_url_marker {
    list-style: none;
  }
  
  .url_main {
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
  }
  
  .header_url {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
  }
  
  .header_logo {
    display: block;
  }
  
  .header_logotip {
    width: 137px;
  }
  
  .address {
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 24.3px;
  }
  
  .address_url {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
  }
  
  .header_address {
    justify-self: end;
    max-width: 240px;
  }
  
  .cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .cover__title {
    z-index: 1;
    padding: 155px 50px 48px;
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    line-height: 135px;
    text-transform: uppercase;
  }
  
  .aligned-text {
    display: block;
  }
  
  .aligned-text_center {
    display: block;
    text-align: center;
  }
  
  .aligned-text_right {
    display: block;
    text-align: end;
  }
  
  .letter-spacing {
    letter-spacing: 30px;
  }
  
  .no-letter-spacing {
    letter-spacing: 0;
  }
  
  .cover_description {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
  
  .cover_description-text {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18.5px;
  }
  
  button {
    border: 1px solid #fff;
    padding: 11px 31px;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    line-height: 25.83px;
    text-transform: uppercase;
    background-color: transparent;
  }
  
  .lots {
    margin: 180px 24px 0;
  }
  
  .lots_head {
    margin-left: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    text-transform: uppercase;
  }
  
  .lots_card {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 27px 0 33px;
    list-style: none;
  }
  
  .lots_card_item {
    position: relative;
  }
  
  .card-url {
    height: 100%;
    text-decoration: none;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    min-height: 596px;
    padding: 50px 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .card_cinema {
    background-image: url("../images/card-lot-01.jpg");
  }
  
  .card_book {
    background-image: url("../images/card-lot-02.jpg");
  }
  
  .card_picture {
    background-image: url("../images/card-lot-03.jpg");
  }
  
  .card__title {
    z-index: 1;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
    text-decoration: underline;
    text-transform: uppercase;
  }
  
  .card__text {
    z-index: 1;
    justify-content: flex-end;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  
  .read {
    margin-left: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.48px;
  }
  
  .about {
    display: grid;
    grid-template-columns: 335px 1fr;
    justify-items: center;
    margin: 152px 24px;
  }
  
  .about_column {
    padding-left: 25px;
  }
  
  .about_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 120px;
    background-color: #000;
  }
  
  .about_logotip {
    width: 148px;
    height: 114px;
  }
  
  .about_title {
    padding: 101px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    text-transform: uppercase;
  }
  
  .about_cont {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .about_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    margin: 180px 50px 85px;
  }
  
  .footer_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }
  
  .footer_menu_url {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
  }
  
  .footer_menu_url2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    text-decoration: none;
  }
  
  .footer_icon {
    display: flex;
    justify-self: end;
    gap: 48px;
    list-style: none;
  }
  
  .footer_icon2 {
    text-decoration: none;
  }
  
  .footer_icon3 {
    width: 48px;
  }